:root {
  /* Colors */
  --black: #000000;
  --prussian-blue: #0c314e;
  --azure: #0079de;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--prussian-blue);
}

h1 {
  color: var(--white);
  display: flex;
}
